<div class="container">
  <section class="hero">
    <ul class="hero__list">
      <!-- <li class="film-card" data-action="ID">
        <div class="film-card__img-thumb">
          <a class="film-card__link" href="#"
            ><img
              class="film-card__img"
              src="https://klike.net/uploads/posts/2019-05/1556708032_1.jpg"
              alt="movie poster"
          /></a>
        </div>
        <h2 class="film-card__title">Name of movie</h2>
        <div class="film-card__thumb-info">
          <p class="film-card__genre">Genre</p>
          <p class="film-card__line">|</p>
          <p class="film-card__year">Year</p>
          <span class="film-card__raiting">10</span>
        </div>
      </li> -->
    </ul>
  </section>
</div>
